/* MAIN NAVIGATION */

.main-nav {
  padding: 2rem;
  margin: 0 16.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list Link {
  list-style: none;
  margin-left: 3.2rem;
  text-decoration: none;
}

.nav-list Link {
  text-decoration: none;
  color: #333333;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
